@import '../lib/global';

.skill-list {
    margin-bottom: 20px;
    h3 {
        text-align: left;
        font-size: 24px;
        line-height: 32px;
        font-family: $cursive;
        color: $dark-green;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            font-size: 13px;
            display: inline-block;
            padding: 2px 4px;
            border-radius: 2px;
            border: 1px solid $dark-white;
            color: $dark-white;
            margin: 2px;
        }
    }
}