@import 'lib/global';

.page.codingasbaking {
    .content .featured-image {
        // height: 150px;
    }

    .main-content {
        display: flex;
        .content-area-container {
            text-align: left;
            flex-grow: 1;
            flex-basis: 0;
            .content-area {
                padding-right: 10px;
                margin-bottom: 20px;
                margin-top: 20px;
                p {
                    font-size: 16px;
                    color: $dark-white;
                    line-height: 28px;
                    &:first-child {}
                }
            }
        }
        .bake-list {
            // flex-grow: 1;
            // flex-basis: 0;
            padding:  20px 0 20px 20px;
            width: 200px;
        }


        @include mobile {
            flex-direction: column;
            
            .content-area-container {
                width: calc(100% - 40px);
                padding: 20px;
                .content-area {
                    margin-top: 0;
                }
            }

            .bake-list {
                padding: 0;
                width: 100%;
                ul {
                    
                }
            }
        }
    }
    
}