@import 'lib/global';

.page.index {
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;

    .content {
        padding: 10px;
        flex-grow: 1;
        .spiel {
            width: 500px;
            text-align: left;
            h1 {
                font-family: $cursive;
                font-size: 4em;
                color: $dark-white;
            }
            p {
                font-size: 24px;
                font-family: $sans-serif;
                color: $dark-white;
                line-height: 32px;
            }

            @media only screen and (max-width: 600px) {
                width: 100%;
            }

            .download {
                font-size: 14px;
            }
        }
    }
    
}