@import 'lib/global';

@import 'lib/global';

.page.projects {
    .content .featured-image {
        height: 150px;
    }

    .main-content {
        display: flex;
        .content-area-container {
            width: 300px;
            text-align: left;
            .content-area {
                padding-right: 10px;
                margin-bottom: 20px;
                p {
                    font-size: 24px;
                    letter-spacing: -1px;
                    line-height: 36px;
                    font-weight: 100;
                    color: $dark-white;
                }
            }
        }
        .work-list {
            flex-grow: 1;
        }
    }
    
}