@import 'lib/global';

@import 'lib/global';

.page.speeches {
    .content .featured-image {
        // height: 150px;
    }

    .main-content {
        display: flex;
        .content-area-container {
            width: 300px;
            text-align: left;
            .content-area {
                padding-right: 10px;
                margin-bottom: 20px;
                p {
                    font-size: 17px;
                    letter-spacing: 0px;
                    line-height: 24px;
                    font-weight: 100;
                    color: $dark-white;
                }
            }
        }
        .news-list {
            flex-grow: 1;
            flex-basis: 0;
            padding:  20px 0 20px 20px;
        }
    }
    
}